In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
dat = pd.read_csv("data/train_test_set2.csv")
dat

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,9.366667,6.442410,0.585417,0.402651,8.213537,0.513346,13.338095,0.833631,0.633333,0.633333
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,8.516667,6.015821,0.567778,0.401055,7.875889,0.525059,12.573810,0.838254,0.483333,0.483333
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,1.533333,2.620519,0.051111,0.087351,10.459093,0.348636,19.719048,0.657302,-1.533333,-1.533333
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,-1.966667,-1.731676,-0.393333,-0.346335,3.036080,0.607216,3.861905,0.772381,-0.033333,-0.033333
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,0.918068,0.183614,2.571429,0.514286,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36452,5150482,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-2.850000,-0.687990,-0.158333,-0.038222,4.076842,0.226491,10.007143,0.555952,-3.150000,-3.150000
36453,5150483,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,7.809258,0.433848,13.242857,0.735714,0.000000,0.000000
36454,5150484,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-9.700000,-5.491874,-0.746154,-0.422452,5.637053,0.433619,8.642857,0.664835,-1.300000,-1.300000
36455,5150485,F,Y,Y,1,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,-1.983333,-1.830706,-0.991667,-0.915353,1.307647,0.653824,1.416667,0.708333,-0.016667,-0.016667
36456,5150487,M,Y,N,0,202500.0,Working,Secondary / secondary special,Married,House / apartment,...,22.750000,11.765522,0.758333,0.392184,11.765522,0.392184,22.750000,0.758333,7.250000,7.250000

In [3]:
dat.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,CNT_FAM_MEMBERS,AGE,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
count,3.645700e+04,36457.000000,3.645700e+04,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000,36457.000000
mean,5.078227e+06,0.430315,1.866857e+05,-15975.173382,59262.935568,2.198453,43.767598,0.967778,0.725175,-0.139444,-0.083019,6.446589,0.349238,12.519098,0.608679,-0.759066,-0.759066
std,4.187524e+04,0.742367,1.017892e+05,4200.549944,137651.334859,0.911686,11.508356,12.268308,6.476973,0.535796,0.352065,4.060390,0.166806,8.465632,0.164225,5.805334,5.805334
min,5.008804e+06,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.000000,20.517808,-175.333333,-81.836797,-4.762500,-3.222740,-0.003460,-0.002884,0.000000,0.000000,-120.666667,-120.666667
25%,5.042028e+06,0.000000,1.215000e+05,-19438.000000,-3153.000000,2.000000,34.142466,-5.750000,-3.092237,-0.580556,-0.290258,2.879076,0.234951,5.221429,0.527847,-2.150000,-2.150000
50%,5.074614e+06,0.000000,1.575000e+05,-15563.000000,-1552.000000,2.000000,42.638356,-0.500000,0.000000,-0.041228,0.000000,6.047942,0.342955,10.933333,0.647024,-0.350000,-0.350000
75%,5.115396e+06,1.000000,2.250000e+05,-12462.000000,-408.000000,3.000000,53.254795,7.416667,4.917820,0.333750,0.204587,9.861251,0.464061,19.140476,0.714286,0.016667,0.016667
max,5.150487e+06,19.000000,1.575000e+06,-7489.000000,365243.000000,20.000000,68.909589,30.483333,13.929580,1.000000,1.000000,13.929580,1.000000,30.497619,1.000000,28.516667,28.516667

In [4]:
dat.columns

Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'AGE', 'NORM_SUM',
       'LOG_SUM', 'NORM_MEAN', 'LOG_MEAN', 'MIN_MAX_LOG_SUM',
       'MIN_MAX_LOG_MEAN', 'MIN_MAX_NORM_SUM', 'MIN_MAX_NORM_MEAN',
       'MIN_MAX_SUM', 'MIN_MAX_MEAN'],
      dtype='object')

In [5]:
predictors = [
    "CODE_GENDER",
    "FLAG_OWN_CAR",
    "FLAG_OWN_REALTY",
    "CNT_CHILDREN",
    "AMT_INCOME_TOTAL",
    "NAME_INCOME_TYPE",
    "NAME_EDUCATION_TYPE",
    "NAME_FAMILY_STATUS",
    "NAME_HOUSING_TYPE",
    "DAYS_BIRTH",
    "DAYS_EMPLOYED",
    "FLAG_MOBIL",
    "FLAG_WORK_PHONE",
    "FLAG_PHONE",
    "FLAG_EMAIL",
    "OCCUPATION_TYPE",
    "CNT_FAM_MEMBERS",
    "AGE"
]

targets = [
    'NORM_SUM',
    'LOG_SUM',
    'NORM_MEAN',
    'LOG_MEAN',
    'MIN_MAX_LOG_SUM',
    'MIN_MAX_LOG_MEAN',
    'MIN_MAX_NORM_SUM',
    'MIN_MAX_NORM_MEAN',
    'MIN_MAX_SUM',
    'MIN_MAX_MEAN'
]

for y in targets:
    r2s = list()
    print(f"Target = {y}")
    print("----------------------------")
    for x in predictors:
        res = smf.ols(f"{y} ~ {x}", dat).fit()
        r2s.append(res.rsquared)
        print(f"R2 using {x} = {res.rsquared}")
    print("----------------------------")
    print(f"Best R2 for {y}: {max(r2s)}")
    print("----------------------------\n")

Target = NORM_SUM
----------------------------
R2 using CODE_GENDER = 7.842755226805664e-05
R2 using FLAG_OWN_CAR = 8.092144255567035e-06
R2 using FLAG_OWN_REALTY = 3.1956907009522695e-08
R2 using CNT_CHILDREN = 2.4756763977507035e-05
R2 using AMT_INCOME_TOTAL = 0.0009060700726870596
R2 using NAME_INCOME_TYPE = 0.00033290104475391935
R2 using NAME_EDUCATION_TYPE = 0.00044743665780122566
R2 using NAME_FAMILY_STATUS = 0.0001816329030969177
R2 using NAME_HOUSING_TYPE = 0.00011472254488498201
R2 using DAYS_BIRTH = 6.38343812445763e-05
R2 using DAYS_EMPLOYED = 4.4194588168955384e-05
R2 using FLAG_MOBIL = 0.0
R2 using FLAG_WORK_PHONE = 2.8826263601677837e-06
R2 using FLAG_PHONE = 0.00021734549870067177
R2 using FLAG_EMAIL = 0.00010409773368702524
R2 using OCCUPATION_TYPE = 0.0016269692628287924
R2 using CNT_FAM_MEMBERS = 2.1584812326391756e-07
R2 using AGE = 6.38343812445763e-05
----------------------------
Best R2 for NORM_SUM: 0.0016269692628287924
----------------------------

Target = LOG_SUM
----------------------------
R2 using CODE_GENDER = 3.1154379429798595e-05
R2 using FLAG_OWN_CAR = 1.6559683624350896e-09
R2 using FLAG_OWN_REALTY = 3.381520940370919e-06
R2 using CNT_CHILDREN = 1.904051519752148e-05
R2 using AMT_INCOME_TOTAL = 0.0007444092280007863
R2 using NAME_INCOME_TYPE = 0.00024569008738051235
R2 using NAME_EDUCATION_TYPE = 0.00041447402949057466
R2 using NAME_FAMILY_STATUS = 0.00022392217305122752
R2 using NAME_HOUSING_TYPE = 0.00011844644783620684
R2 using DAYS_BIRTH = 6.824405112659804e-05
R2 using DAYS_EMPLOYED = 2.4533802155835005e-05
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 1.57385761482276e-05
R2 using FLAG_PHONE = 0.00017040589389760719
R2 using FLAG_EMAIL = 0.0001052221729416214
R2 using OCCUPATION_TYPE = 0.0018906650423072824
R2 using CNT_FAM_MEMBERS = 1.9076435873177644e-06
R2 using AGE = 6.824405112659804e-05
----------------------------
Best R2 for LOG_SUM: 0.0018906650423072824
----------------------------

Target = NORM_MEAN
----------------------------
R2 using CODE_GENDER = 5.896605351773943e-07
R2 using FLAG_OWN_CAR = 7.804163138580567e-05
R2 using FLAG_OWN_REALTY = 3.158544339620928e-05
R2 using CNT_CHILDREN = 6.483586452055157e-06
R2 using AMT_INCOME_TOTAL = 0.000288346559493613
R2 using NAME_INCOME_TYPE = 0.0002053683137622775
R2 using NAME_EDUCATION_TYPE = 0.0007480519931717389
R2 using NAME_FAMILY_STATUS = 0.00031796368624992244
R2 using NAME_HOUSING_TYPE = 8.828797847026948e-05
R2 using DAYS_BIRTH = 2.1051335514887803e-05
R2 using DAYS_EMPLOYED = 9.532873921691554e-06
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 0.00015131688243441577
R2 using FLAG_PHONE = 3.7183048784195094e-05
R2 using FLAG_EMAIL = 3.3032542143818233e-06
R2 using OCCUPATION_TYPE = 0.0029810407916252
R2 using CNT_FAM_MEMBERS = 5.502982414307134e-05
R2 using AGE = 2.1051335514887803e-05
----------------------------
Best R2 for NORM_MEAN: 0.0029810407916252
----------------------------

Target = LOG_MEAN
----------------------------
R2 using CODE_GENDER = 4.318414814741267e-06
R2 using FLAG_OWN_CAR = 0.0001608465952906979
R2 using FLAG_OWN_REALTY = 2.1817955389580312e-05
R2 using CNT_CHILDREN = 9.471969236174438e-06
R2 using AMT_INCOME_TOTAL = 9.910829420600731e-05
R2 using NAME_INCOME_TYPE = 0.0001392473445358533
R2 using NAME_EDUCATION_TYPE = 0.0006676488523793545
R2 using NAME_FAMILY_STATUS = 0.0004332226061746214
R2 using NAME_HOUSING_TYPE = 0.00010432805979709858
R2 using DAYS_BIRTH = 3.3712016332954065e-05
R2 using DAYS_EMPLOYED = 1.6660417427427632e-05
R2 using FLAG_MOBIL = 0.0
R2 using FLAG_WORK_PHONE = 0.00015244507424716502
R2 using FLAG_PHONE = 1.6946320972044404e-06
R2 using FLAG_EMAIL = 1.6956194714978778e-06
R2 using OCCUPATION_TYPE = 0.0028828075598015257
R2 using CNT_FAM_MEMBERS = 8.564916866227179e-05
R2 using AGE = 3.371201633273202e-05
----------------------------
Best R2 for LOG_MEAN: 0.0028828075598015257
----------------------------

Target = MIN_MAX_LOG_SUM
----------------------------
R2 using CODE_GENDER = 0.00029414577694997224
R2 using FLAG_OWN_CAR = 0.0009018207479621898
R2 using FLAG_OWN_REALTY = 0.0022910079493463353
R2 using CNT_CHILDREN = 7.759287767183931e-05
R2 using AMT_INCOME_TOTAL = 0.0004661776744833146
R2 using NAME_INCOME_TYPE = 0.0005508441196041547
R2 using NAME_EDUCATION_TYPE = 0.0006221533856884953
R2 using NAME_FAMILY_STATUS = 0.001828824947074037
R2 using NAME_HOUSING_TYPE = 0.00034872089083815005
R2 using DAYS_BIRTH = 0.000892063057663095
R2 using DAYS_EMPLOYED = 0.0002817201639966349
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 0.0005648989571050977
R2 using FLAG_PHONE = 0.00014921492017450078
R2 using FLAG_EMAIL = 0.00014461068253479592
R2 using OCCUPATION_TYPE = 0.004014550069678768
R2 using CNT_FAM_MEMBERS = 5.5650999769674137e-05
R2 using AGE = 0.000892063057663095
----------------------------
Best R2 for MIN_MAX_LOG_SUM: 0.004014550069678768
----------------------------

Target = MIN_MAX_LOG_MEAN
----------------------------
R2 using CODE_GENDER = 5.917556955459258e-05
R2 using FLAG_OWN_CAR = 0.000889115157057252
R2 using FLAG_OWN_REALTY = 5.176489653191396e-05
R2 using CNT_CHILDREN = 0.00018542877937832714
R2 using AMT_INCOME_TOTAL = 0.000569842663043274
R2 using NAME_INCOME_TYPE = 0.0003889428763146352
R2 using NAME_EDUCATION_TYPE = 0.0003587609423956195
R2 using NAME_FAMILY_STATUS = 0.0019845021725815037
R2 using NAME_HOUSING_TYPE = 0.0009323476900877647
R2 using DAYS_BIRTH = 0.0013807757546238086
R2 using DAYS_EMPLOYED = 6.896797071676009e-05
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 5.227711379118816e-06
R2 using FLAG_PHONE = 0.0002179203289218723
R2 using FLAG_EMAIL = 2.4221713363026254e-05
R2 using OCCUPATION_TYPE = 0.003039024296575432
R2 using CNT_FAM_MEMBERS = 0.0006861046678773297
R2 using AGE = 0.0013807757546236976
----------------------------
Best R2 for MIN_MAX_LOG_MEAN: 0.003039024296575432
----------------------------

Target = MIN_MAX_NORM_SUM
----------------------------
R2 using CODE_GENDER = 0.00020422120980068126
R2 using FLAG_OWN_CAR = 0.001082316093232727
R2 using FLAG_OWN_REALTY = 0.0019281816346136127
R2 using CNT_CHILDREN = 2.4641819683535182e-05
R2 using AMT_INCOME_TOTAL = 0.0004521075224885873
R2 using NAME_INCOME_TYPE = 0.000522627136302134
R2 using NAME_EDUCATION_TYPE = 0.000690237244785119
R2 using NAME_FAMILY_STATUS = 0.002408014441233397
R2 using NAME_HOUSING_TYPE = 0.0004896574249053653
R2 using DAYS_BIRTH = 0.0013022555728066099
R2 using DAYS_EMPLOYED = 0.0002737666258139093
R2 using FLAG_MOBIL = 0.0
R2 using FLAG_WORK_PHONE = 0.0005359749644257006
R2 using FLAG_PHONE = 0.0001979453712999124
R2 using FLAG_EMAIL = 0.00011210698042807277
R2 using OCCUPATION_TYPE = 0.004330828492256966
R2 using CNT_FAM_MEMBERS = 0.00017945354367654431
R2 using AGE = 0.0013022555728066099
----------------------------
Best R2 for MIN_MAX_NORM_SUM: 0.004330828492256966
----------------------------

Target = MIN_MAX_NORM_MEAN
----------------------------
R2 using CODE_GENDER = 0.00016302107761301254
R2 using FLAG_OWN_CAR = 0.0002608200942800787
R2 using FLAG_OWN_REALTY = 0.00033456393631792203
R2 using CNT_CHILDREN = 5.36204784877814e-05
R2 using AMT_INCOME_TOTAL = 0.00026151237868754507
R2 using NAME_INCOME_TYPE = 0.0002698943926427999
R2 using NAME_EDUCATION_TYPE = 0.00023493827132314848
R2 using NAME_FAMILY_STATUS = 0.0012563122798719961
R2 using NAME_HOUSING_TYPE = 0.0008267668517264459
R2 using DAYS_BIRTH = 0.0017783739483958616
R2 using DAYS_EMPLOYED = 3.4802969958169783e-06
R2 using FLAG_MOBIL = 0.0
R2 using FLAG_WORK_PHONE = 3.316876699988036e-05
R2 using FLAG_PHONE = 0.00013693490557487031
R2 using FLAG_EMAIL = 9.542696810282969e-05
R2 using OCCUPATION_TYPE = 0.002165534815939507
R2 using CNT_FAM_MEMBERS = 0.0002563964412576336
R2 using AGE = 0.0017783739483960836
----------------------------
Best R2 for MIN_MAX_NORM_MEAN: 0.002165534815939507
----------------------------

Target = MIN_MAX_SUM
----------------------------
R2 using CODE_GENDER = 5.4833378215990436e-05
R2 using FLAG_OWN_CAR = 0.0001121476034043889
R2 using FLAG_OWN_REALTY = 1.3704375615319897e-05
R2 using CNT_CHILDREN = 3.505532718661719e-05
R2 using AMT_INCOME_TOTAL = 0.0011389773561527594
R2 using NAME_INCOME_TYPE = 0.0003915331345980544
R2 using NAME_EDUCATION_TYPE = 0.0002747317643382319
R2 using NAME_FAMILY_STATUS = 0.0004596382309524083
R2 using NAME_HOUSING_TYPE = 6.0152748334596495e-05
R2 using DAYS_BIRTH = 0.00010690656224321415
R2 using DAYS_EMPLOYED = 1.800762844983428e-05
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 2.929433850162866e-06
R2 using FLAG_PHONE = 0.0003019082610303814
R2 using FLAG_EMAIL = 4.6304654457429706e-05
R2 using OCCUPATION_TYPE = 0.0014638338131773843
R2 using CNT_FAM_MEMBERS = 6.34208069348885e-05
R2 using AGE = 0.00010690656224299211
----------------------------
Best R2 for MIN_MAX_SUM: 0.0014638338131773843
----------------------------

Target = MIN_MAX_MEAN
----------------------------
R2 using CODE_GENDER = 5.4833378215990436e-05
R2 using FLAG_OWN_CAR = 0.0001121476034043889
R2 using FLAG_OWN_REALTY = 1.3704375615319897e-05
R2 using CNT_CHILDREN = 3.505532718661719e-05
R2 using AMT_INCOME_TOTAL = 0.0011389773561527594
R2 using NAME_INCOME_TYPE = 0.0003915331345980544
R2 using NAME_EDUCATION_TYPE = 0.0002747317643382319
R2 using NAME_FAMILY_STATUS = 0.0004596382309524083
R2 using NAME_HOUSING_TYPE = 6.0152748334596495e-05
R2 using DAYS_BIRTH = 0.00010690656224321415
R2 using DAYS_EMPLOYED = 1.800762844983428e-05
R2 using FLAG_MOBIL = -2.220446049250313e-16
R2 using FLAG_WORK_PHONE = 2.929433850162866e-06
R2 using FLAG_PHONE = 0.0003019082610303814
R2 using FLAG_EMAIL = 4.6304654457429706e-05
R2 using OCCUPATION_TYPE = 0.0014638338131773843
R2 using CNT_FAM_MEMBERS = 6.34208069348885e-05
R2 using AGE = 0.00010690656224299211
----------------------------
Best R2 for MIN_MAX_MEAN: 0.0014638338131773843
----------------------------

The maximum percentage of variance accounted for by any application field for any version of the score is 0.43%, which indicates that the variance in the scores is more likely to be due to some interaction between the variables.  Decision trees are a great way to automatically take interactions between application fields into account.

In [6]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import numpy as np

In [7]:
train, test = train_test_split(dat)
train

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,NORM_SUM,LOG_SUM,NORM_MEAN,LOG_MEAN,MIN_MAX_LOG_SUM,MIN_MAX_LOG_MEAN,MIN_MAX_NORM_SUM,MIN_MAX_NORM_MEAN,MIN_MAX_SUM,MIN_MAX_MEAN
20421,5089824,F,N,Y,0,225000.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,...,3.933333,1.264212,0.491667,0.158026,1.264212,0.158026,3.933333,0.491667,4.066667,4.066667
4875,5025047,F,Y,N,3,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,2.083333,3.335728,0.090580,0.145032,9.387064,0.408133,16.397619,0.712940,-2.083333,-2.083333
28231,5116534,M,N,Y,0,180000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,-0.500000,-0.119174,-0.125000,-0.029794,0.127523,0.031881,0.528571,0.132143,-2.500000,-2.500000
34711,5146137,F,N,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,0.000000,0.000000,0.000000,0.000000,9.939624,0.342746,19.057143,0.657143,0.000000,0.000000
14477,5061646,M,N,Y,1,157500.0,State servant,Incomplete higher,Married,House / apartment,...,7.600000,5.878239,0.316667,0.244927,9.942103,0.414254,17.714286,0.738095,-0.600000,-0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27103,5114350,M,Y,N,0,180000.0,Commercial associate,Secondary / secondary special,Married,Municipal apartment,...,6.616667,3.211936,0.348246,0.169049,5.449623,0.286822,12.616667,0.664035,1.383333,1.383333
1542,5010739,F,N,Y,0,157500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,...,-3.766667,-2.562382,-0.753333,-0.512476,2.542307,0.508461,3.533333,0.706667,-0.233333,-0.233333
13430,5054572,F,Y,Y,2,135000.0,State servant,Secondary / secondary special,Married,House / apartment,...,13.300000,8.617343,0.369444,0.239371,12.049465,0.334707,23.757143,0.659921,-1.300000,-1.300000
17297,5068373,M,Y,Y,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,...,-7.966667,-4.863711,-0.531111,-0.324247,6.321670,0.421445,10.219048,0.681270,-1.033333,-1.033333
2102,5021490,M,N,Y,0,135000.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,-3.900000,-3.223794,-0.975000,-0.805949,2.302710,0.575678,2.785714,0.696429,-0.100000,-0.100000

In [8]:
test_X = pd.get_dummies(test.loc[:, predictors])
test_ys = test.loc[:, targets]
train_X = pd.get_dummies(train.loc[:, predictors])
train_ys = train.loc[:, targets]

rmses = list()
for target in targets:
    train_y = train_ys.loc[:, target]
    test_y = test_ys.loc[:, target]
    dt = DecisionTreeRegressor()
    dt.fit(train_X, train_y)
    preds = dt.predict(test_X)
    actuals = test_y
    model_rmse = np.sqrt(((preds - actuals)**2).mean())
    nullhypo_rmse = np.sqrt(((train_y.mean() - actuals)**2).mean())
    print(
        f"NullHypo RMSE for target {y}: {nullhypo_rmse}",
        f"Model RMSE for target {y}: {model_rmse}",
        f"-----------------------------",
        sep="\n"
    )

NullHypo RMSE for target MIN_MAX_MEAN: 12.485519791658339
Model RMSE for target MIN_MAX_MEAN: 13.00195060154641
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 6.590770257573141
Model RMSE for target MIN_MAX_MEAN: 6.950298742380971
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 0.5411656404973028
Model RMSE for target MIN_MAX_MEAN: 0.569936246923085
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 0.35476476830120157
Model RMSE for target MIN_MAX_MEAN: 0.3852180240933986
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 4.067926049469697
Model RMSE for target MIN_MAX_MEAN: 4.014681878893303
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 0.1659379421294544
Model RMSE for target MIN_MAX_MEAN: 0.1851369971813924
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 8.476611066327138
Model RMSE for target MIN_MAX_MEAN: 8.461732502987168
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 0.16398769569343782
Model RMSE for target MIN_MAX_MEAN: 0.17917960894451337
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 5.875093347546837
Model RMSE for target MIN_MAX_MEAN: 6.181462977836802
-----------------------------
NullHypo RMSE for target MIN_MAX_MEAN: 5.875093347546837
Model RMSE for target MIN_MAX_MEAN: 6.170707647707737
-----------------------------

For every version of the numeric score, the decision tree regressor performs worse than the null hypothesis.  We will thus need a different approach to reliability than any of these numeric scores.